header {
    background-color: darkred;
    color: white;
    padding: 5px 5px 5px 10px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}
aside {
  float: right;
  margin: 1.5% 0;
  width: 30%;
}

nav {
  background-color: SlateGray;
  color: white;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
}

#paragraph {
  padding: 10px 10px 10px 10px;
}

#img1 {
  width: 700px;
  heigh: 300px;
  padding: 10px 10px 10px 10px;
}

#img2 {
  width: 200px;
  heigh: 100px;
  padding: 10px 10px 10px 10px;
}

h2 {
  font-size: 24px;
  padding: 10px 10px 10px 10px;
}

footer {
  background-color: SlateGray;
  color: white;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
}
